<!-- views/customers/new.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit bookshelve</title>
</head>
<body>
  <h1>Edit bookshelve</h1>
  <form action="/bookshelves/<%= bookshelve[0].id %>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= bookshelve[0].name %>" required>
    <br>
    <button type="submit">Update bookshelve</button>
  </form>
  <a href="/bookshelves">return</a>
</body>
</html>
