<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Rent</title>
</head>
<body>
  <h1>Edit Rent</h1>
  <form action="/rents/<%= rent[0].id %>?_method=PUT" method="POST">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="<%= rent[0].date %>" required>
    <br>
    <label for="customer_id">Customer ID:</label>
    <input type="text" id="customer_id" name="customer_id" value="<%= rent[0].customer_id %>" required>
    <br>
    <label for="book_id">Book ID:</label>
    <input type="text" id="book_id" name="book_id" value="<%= rent[0].book_id %>" required>
    <br>
    <button type="submit">Update rent</button>
  </form>
  <a href="/rents">return</a>
</body>
</html>
