<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>authors</title>
</head>

<body>
  <h1>Authors</h1>
  <h2><a href="/authors/new">New author</a></h2>
  <ul>
    <% for(let author of authors) { %>
      <a href="/authors/<%= author.id %>">
      <li>
        ID: <%= author.id %>, 
        Name: <%= author.name %>, 
      </li>
      </a>
    <% }; %>
    <a href="/">return</a>
  </ul>
</body>

</html>