<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show author</title>
</head>

<body>
    <h1>View author</h1>

    <p>Name: <%= author[0].name %>
    </p>

    <a href="/authors/<%= author[0].id %>/edit">edit</a>

    <form action="/authors/<%= author[0].id %>?_method=DELETE" method="POST">
        <button>delete</button>
    </form>

    <a href="/authors">return</a>
</body>

</html>