<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>publishers</title>
</head>

<body>
  <h1>Publishers</h1>
  <h2><a href="/publishers/new">New publisher</a></h2>
  <ul>
    <% for(let publisher of publishers) { %>
      <a href="/publishers/<%= publisher.id %>">
      <li>
        ID: <%= publisher.id %>, 
        Name: <%= publisher.name %>, 
        Phone: <%= publisher.phone %>
      </li>
      </a>
    <% }; %>
    <a href="/">return</a>
  </ul>
</body>

</html>