<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create publisher</title>
</head>

<body>
  <h1>New Publisher</h1>
  <form action="/publishers" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" required>
    <br>
    <button type="submit">Create publisher</button>
  </form>
  <a href="/publishers">return</a>
</body>

</html>