<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show publisher</title>
</head>

<body>
    <h1>View Publisher</h1>

    <p>Name: <%= publisher[0].name %>
    </p>
    <p>Phone: <%= publisher[0].phone %>
    </p>

    <a href="/publishers/<%= publisher[0].id %>/edit">edit</a>

    <form action="/publishers/<%= publisher[0].id %>?_method=DELETE" method="POST">
        <button>delete</button>
    </form>

    <a href="/publishers">return</a>
</body>

</html>