<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Customer</title>
</head>
<body>
  <h1>Edit Customer</h1>
  <form action="/customers/<%= customer[0].id %>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= customer[0].name %>" required>
    <br>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" value="<%= customer[0].phone %>" required>
    <br>
    <label for="adress">Adress:</label>
    <input type="text" id="adress" name="adress" value="<%= customer[0].adress %>" required>
    <br>
    <button type="submit">Update Customer</button>
  </form>
  <a href="/customers">return</a>
</body>
</html>
