<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Cliente</title>
</head>

<body>
    <h1>View Customer</h1>

    <p>Name: <%= customer[0].name %>
    </p>
    <p>Phone: <%= customer[0].phone %>
    </p>
    <p>Adress: <%= customer[0].adress %>
    </p>

    <a href="/customers">return</a>

</body>

</html>